.page-container {
  padding: 10px;
}
/* This source code was developed by raul olivares with some use of stackoverflow code ALSO TRYING TO GET THE CODE TO SAVE THE INPUT TO NEW FILE TO USE LATER BUT NOT WORKING  */
.section-1 {
  border-color: green;
  border-radius: 5px;
  border-width: 3px;
}

.section-title {
  padding: 3px;
  border-radius: 5px;
}
.bg-section1-dark {
  background-color: #85E0A3;
}

.bg-section2-dark {
  background-color: #FFAFA3;
}
.bg-section3-dark {
  background-color: #75D7F0;
}

.bg-section4-dark {
  background-color: #FFD966;
}

.bg-section1-light {
  background-color: #F3FDF6;
}
.bg-section2-light {
  background-color: #FFF7F6;
}
.bg-section3-light {
  background-color: #F5FBFF;
}
.bg-section4-light {
  background-color: #FFFCF1
}

.bg-menu {
  background-color: #907CFF;
}

.border-section1 {
  border: 2px solid;
  border-color: #85E0A3;
}

.border-section2 {
  border: 2px solid;
  border-color: #FFAFA3;
}

.border-section3 {
  border: 2px solid;
  border-color: #75D7F0;
}

.border-section4 {
  border: 2px solid;
  border-color: #FFD966;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 200px;
  padding: 5px 10px;
}

.fit-content {
  width: fit-content;
}
.menu-card {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10pxl
}

.card-footer-text {
  position: absolute;
  bottom: 0px;
}










.sectioning{
  display: flex;
  flex-direction: column;
}

.seperator{
  display: flex;
  min-height: 60vh;
  
}
p{
  margin: 0;
}



.cont1,.cont2,.cont3{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;

}


.heading{
font-size: 0.6em;
display: flex;
justify-content: flex-start;
align-items: baseline;

}

.struct{
  flex: 2;
}

.quote{
  font-weight: bold;


}

.quote1{
font-weight: normal;
font-size: 0.8em;
}


.con1-cont,.con2-cont,.con3-cont{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 55vh;
  border-radius:3px;
  flex-wrap: wrap;
}

.con1-cont{
  border: solid thick #85E0A3;
  background-color: rgba(133,224,163, 0.2);
  
}

.cont4{
  margin-top: 10%;
  min-height: 40vh;
}

img{
  height: 14vh;
  width:120px;
}

.info {
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #85E0A3;
  padding:2% 4%;
}


.cont1 .cad{
  position: relative;
}

.cont1 .cad:hover .overlay {
  opacity: 1;
  cursor: pointer;
}



.contb{
  display: flex;
  border: solid thick #FFD966;
  min-height: 38vh;
  border-radius: 5px;

}

.adjustr, .adjustl{
  display: flex;
  background-color: rgba(255,217,102,0.2);
}
.adjustr{
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.adjustl{
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
}



.cad{
  margin: 2%;
  border:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  padding: 3%;
  font-size: 0.9em;
  min-height: 14vh;
  min-width: 25%;
   box-shadow: 1px 1px 6px 1px rgba(136, 136, 136,0.6);
}


.cont3 .cad{
background-color: rgb(117,215,240);

}
.cont3 .cad:hover{
  cursor: pointer;
  background-color: rgba(117,215,240,0.7);
}

.headingp{
  
  border-radius: 5px;
  padding:0.3% 2%;
  font-size: 0.67m;
  font-weight: bolder;
  margin-bottom: 3px;
}

.cont4 .headingp, .cont4 .cad{
  border: solid 0.1em rgb(255,217,102);
  background-color: #FFD966;
}
.cont4 .cad:hover{
  cursor: pointer;
  background-color: rgba(255,217,102,0.7);
}


.cont3 .headingp{
  border: solid 0.1em rgb(117,215,240);
  background-color: #75D7F0;
}

.cont2{
  margin-left: 1.2%;
  margin-right: 1.2%;
}


.cont2 .headingp,.cont2 .cad{
  background-color: #FFAFA3;

}
.con2-cont{
  background-color: rgba(255,175,163,0.2);
  border: solid thick #FFAFA3;

}

.con4-cont{
  background-color:  rgba(255,217,102,0.2);
  border: solid thick #FFD966;

}


.cont1 .cad, .cont1 .headingp{
  background-color: #85E0A3;
}

.con3-cont{
  background-color: rgba(117,215,240,0.2);
  border: solid thick #75D7F0;
  
}

